<div class = "square @SquareModel.Style" @onmouseup ="ValidateHit"></div>

@code{
    [Parameter]
    public SquareModel squareModel { get; set; }
    [Parameter]
    public EventCallback OnMouseUp { get; set; }

    

    private void ValidateHit()
    {
        OnMouseUp.InvokeAsync(new EventArgs());
    }
}